@media screen and(max-width: 1800px){
    .container4-1{
      flex-wrap: wrap;
    }
  }
  @media screen and(max-width: 1620px){
    .Detoxify{
        font-size: 58px;
    }
  }
  @media screen and(max-width: 1280px){
  
  }
  @media screen and(max-width: 768px){
    .head{
        width: 768px;
    }
    .homeLink{
        display: none;
        position: absolute;
    }
  .logo{
    padding: 0 10px 0 30px;
  }
  }
  @media screen and(max-width: 320px){
  
  }