html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
  }
  body, html{
    width: 100%;
    background-color: rgb(208,244,234);
  }
  .heeboFont{
    font-family: "Heebo", sans-serif;
  }
  .meriendaFont{
    font-family: "Merienda", cursive;
  }
  .bg1{
    position: absolute;
    top: 0;
    z-index: -1;
  }
  .head{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
  
  .logo {
    padding-left: 145px;
    padding-top: 8px;
    margin-right: 10px;
  }
  .links a{ 
    text-decoration: none;
    justify-content: space-between;
    display: flex;
    align-items:center;
  }
  .headerText{
    color: black;
    font-size: 28px;
  }
  .homeLink{
    color: rgb(26,127,114);
    font-weight: 600;
    font-size: 32px;
  }
  .linkDiv {
    padding-right: 70px;
    width: 55.5%;
    display: flex;
    justify-content: space-between;
  }
  .linkDiv a {
    flex-grow: 1;
    text-decoration: none;
    text-align: center;
  }
  .Detoxify{
    background-color: none;
    text-align: center;
    font-size: 68px;
    color: white;
    padding: 67px 500px 0 500px;
    line-height: 90px;
    align-items: center;
  }
  .firstContainer{
    height: auto;
    background-image: url("./images_kr/BGvector.svg");
    top: 0;
    justify-content: center;
  }
  .detoxLorem{
    text-align: center;
    font-size: 24px;
    padding: 20px 410px 0 410px;
  }
  .getStartButton{
    width: 300px;
    border:none;
    border-radius: 40px;
    box-shadow: none;
    margin-top:28px;
    padding: 20px 0 20px 0;
    font-size: 28px;
    background-color: rgb(37,147,133);
    font-weight: bold;
    color: white
  }
  .popopo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
.sittingGirl{
  margin-top: 70px;
}
.secondContainer{
  display:flex;
  justify-content: center;
  padding-top: 93px;
  padding-left: 48px;
}
.papersheets{
  width: 94%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(1,1fr);
  column-gap: 30px;
}
.papersheets>div{
  display: flex;
  justify-content:flex-start;
}
.centerRect{
  width: 534px;
  height: 606px;
}
.rect1{
background-image: url("./images_kr/recctangle1.png");
display: flex;
flex-direction: column;
}
.rect2{
  height: 530px;
  display: flex;
  flex-direction: column;
  background-image: url("./images_kr/rectangleCenter.svg");
}
.rect3{
  display: flex;
  flex-direction: column;
  background-image: url("./images_kr/recctangle3.png");
}
.rect1>img, .rect2>img, .rect3>img{
  width: 100px;
  height: 100px;
}
.rect1, .rect2, .rect3{
  align-items: center;
  width: 525px;
  padding-top: 78px;
}
.rectText{
  width: 329px;
  font-size: 18px;
  text-align: center;
  padding-top: 20px;
  line-height: 23px;
}
.rectName{
  padding-top: 20px;
  font-size: 32px;
  font-weight:600;
}
.learnMoreButton{
  background-color:rgb(37,147,133);
  color:white;
  box-shadow: none;
  border: none;
  font-size: 24px;
  border-radius: 40px;
  padding:10px 46px;
  margin-top: 60px;
}