html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
  }
  body, html{
    width: 100%;
    max-width: 1920px;
    background-color: rgb(208,244,234);
  }
  .heeboFont{
    font-family: "Heebo", sans-serif;
  }
  .meriendaFont{
    font-family: "Merienda", cursive;
  }
  .burger {
    visibility: hidden;
    position: absolute;
    border: none;
    left: 0;
    background: transparent;
    width: 40px;
    height: 26px;
  }
  .burger::before,
  .burger::after {
    content: '';
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background: #000;
  }
  .burger::before {
    top: 0;
    box-shadow: 0 11px 0 #000;
  }
  .burger::after {
    bottom: 0;
  }

  .burger::before {
    transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
  }
  .burger::after {
    transition: bottom .3s .15s, transform .3s;
  }
  .burger.active::before {
    top: 11px;
    transform: rotate(45deg);
    box-shadow: 0 6px 0 rgba(0,0,0,0);
    transition: box-shadow .15s, top .3s, transform .3s .15s;
  }
  .burger.active::after {
    bottom: 11px;
    transform: rotate(-45deg);
    transition: bottom .3s, transform .3s .15s;
  }


.head.night-theme .burger::before,
.head.night-theme .burger::after {
  background: white;
}

.head.night-theme .burger.active::before,
.head.night-theme .burger.active::after {
  background: white;
}
  .head.night-theme {
    background-color: black;
    color: white;
  }
  
  .head.night-theme .dropbtn {
    color: white;
  }
  .head.night-theme .dropbtn::after {
    background-image: url("https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_down_48px-16.png");
  }
  
  .head.night-theme .dropdown-content a {
    color: black;
  }
  
  .head.night-theme .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  .head.night-theme .homeLink {
    color: rgb(26, 127, 114);
  }
  
  .head.night-theme .headerText {
    color: white;
  }

  .bg1{
    position: absolute;
    top: 0;
    z-index: -1;
  }

  .night-theme{
    background-color:black;
    color:white;
  }
  .head {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
    .slider.round {
      border-radius: 34px;
    }
    .slider.round:before {
      border-radius: 50%;
    }
    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
    }
    
    .switch input { 
      opacity: 0;
      width: 0;
      height: 0;
    }
    
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      content: url("./images_kr/sun.svg");
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    input:checked + .slider {
      background-color: rgb(37,147,133);

    }
    input:focus + .slider {
      box-shadow: 0 0 1px rgb(37,147,133);
    }
    input:checked + .slider:before {
      content: url("./images_kr/moon.png");
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }

    .change-lang{
      width: 60px;
      height: 30px;
      font-weight: bold;
      border-width: 2px;
      border-radius:20px;
      padding: 5px;
    }

  .logo {
    padding-left: 145px;
    padding-top: 8px;
    margin-right: 10px;
  }
  .links{ 
    text-decoration: none;
    justify-content: space-between;
    display: flex;
    align-items:center;
  }
  .menu{
    width: 80px;
    height: 80px;
    position: absolute;
    align-self:center;
  }
  .menudiv{
    display: flex;
    visibility: hidden;
  }
  .headerText{
    color: black;
    font-size: 1.75em;
  }
  .homeLink{
    color: rgb(26,127,114);
    font-weight: 600;
    font-size: 2em;
  }
  .linkDiv {

    width: 55%;
    display: flex;
    justify-content: space-between;
  }
  .linkDiv a {
    flex-grow: 1;
    text-decoration: none;
    text-align: center;
  }
  .Detoxify{
    text-align: center;
    font-size: 4.25em;
    color: white;
    padding-top: 67px;
    line-height: 90px;
    width: 50%;
  }
  .firstContainer{
    height: auto;
    background-image: url("./images_kr/BGvector.svg");
    top: 0;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .detoxLorem{
    text-align: center;
    font-size: 1.5em;
    padding-top: 20px;
    width: 55%;
  }
  .getStartButton{
    width: 300px;
    border:none;
    border-radius: 40px;
    box-shadow: none;
    margin-top:28px;
    padding: 20px 0 20px 0;
    font-size: 1.75em;
    background-color: rgb(37,147,133);
    font-weight: bold;
    color: white
  }
  .popopo{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
.sittingGirl{
  margin-top: 70px;
}
.secondContainer {
  display: flex;
  justify-content: center;
  padding-top: 93px;
}

.papersheets {
  width: 94%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.papersheets > div {
  display: flex;
  justify-content: flex-start;
}

.rect1,
.rect2,
.rect3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 525px;
  padding-top: 78px;
  height: 530px;
  color: black;
}

.rect1 {
  background-image: url("./images_kr/recctangle1.png");
}

.rect2 {
  background-image: url("./images_kr/rectangleCenter.svg");
}

.rect3 {
  background-image: url("./images_kr/recctangle3.png");
}

.rect1 > img,
.rect2 > img,
.rect3 > img {
  width: 20%;
  height: 19%;
}

.rectText {
  width: 62%;
  font-size: 1.125em;
  text-align: center;
  padding-top: 20px;
  line-height: 23px;
}

.rectName {
  padding-top: 20px;
  font-size: 2em;
  font-weight: 600;
}

.learnMoreButton {
  background-color: rgb(37, 147, 133);
  color: white;
  box-shadow: none;
  border: none;
  font-size: 1.5em;
  border-radius: 40px;
  padding: 10px 46px;
  margin-top: 60px;
}
.darkMode {
  color: black;
  background-color: #000000;
}
.thirdContainer{
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin-top: 90px;
}
.practiceText{
  font-size: 3.375em;
  font-weight: 700;
  line-height: 65px;
  width: 40%;
}
.practiceLorem{
  font-size: 1.5em;
  padding-top: 30px;
  line-height: 30px;
  width:60%;
}
.meditationWind{
  width: 780px;
  height: 350px;
  background-image: url("./images_kr/rectangle4.png")
}
.container3-1{
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 20px;
}
.windText{
  width: 60%;
  text-align: left;
  font-size: 2em;
  padding-left: 95px;
  padding-top: 85px;
  font-weight: bold;
}
.windLorem{
  padding-top: 17px;
  line-height: 30px;
  text-align: left;
  font-size: 1.5em;
  width: 79%;
  padding-left: 95px;
}
.stressText{
  text-align: left;
  font-size: 2em;
  font-weight: bold;
  line-height: 60px;
}
.stressLorem{
  line-height: 30px;
  text-align: left;
  font-size: 1.5em;
  width: 80%;
}
.selfComparison{
  width: 780px;
  height: 250px;
  margin-top: -22px;
  margin-left: 200px;
}
.selfText{
  text-align: left;
  font-size: 2em;
  font-weight: bold;
  line-height: 60px;
  padding-top: 10px;
}
.selfLorem{
  line-height: 30px;
  text-align: left;
  font-size: 1.5em;
  width: 78%;
}
.YogaGirl{
  padding-top: 70px;
}
.YogaGirlDiv{
  display: flex;
  flex-direction: column;
  padding-left: 120px;
}
.arrow{
  display: flex;
  justify-content: flex-end;
  width: 92%;
}
.pap{
  display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    width: 49%;
    padding-right: 50px;
}
.stressReduction{
  width: 780px;
  height: 220px;
  margin-top: -22px;
  margin-left: 200px;
}

.darkMode .meditationWind {
 color:black;
}
.darkMode .stressText,
.darkMode .practiceText,
.darkMode .practiceLorem,
.darkMode .stressLorem,
.darkMode .selfText,
.darkMode .selfLorem{
  color:white;
}
.darkMode .windText,
.darkMode .windLorem {
  color: black;
}
.fourthContainer{
display: flex;
flex-direction: column;
justify-content: center;
align-items:center;
margin-top: 20px;
}
.breath{
  text-align: center;
  font-size: 55px;
  font-weight: bold;
  line-height: 90px;
}
.breathLorem{
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  text-align: center;
  width: 67%;
  padding-top: 10px;
  line-height: 32px;
}
.breathDiv{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.music{
  width:760px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 110px;
  background-image: url("./images_kr/rectangle5-6-7.svg")
}
.mus1{
  width: 760px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-image: url("./images_kr/rectangle5-6-7.svg");
  margin-top:-52px;
  padding-top: 110px;
}
.button_play{
margin-top: -15px;
margin-left: 110px;
}
.button_play2{
margin-left: 165px;
margin-top: -15px;
}
.button_play3{
  margin-left: 190px;
  margin-top: -15px;
}
.container4-1{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin-top: 56px;
  flex-wrap: wrap;
}
.cont4-1-1{
  display: flex;
  justify-content: flex-start;
  align-items:center;
  margin-right: 90px;
  flex-direction: column;
}
.musicText1{
  font-size: 2em;
  line-height: 50px;
  font-weight: bold;
  padding-left: 130px;
}
.musicText1-2{
  font-size: 2em;
  line-height: 50px;
  font-weight: bold;
  padding-left: 125px;
}
.musicText1-3{
  font-size: 2em;
  line-height: 50px;
  font-weight: bold;
  padding-left: 130px;
}
.musicText2{
  font-size: 1.5em;
  padding-left: 130px;
}
.musicText2-2{
  font-size: 1.5em;
  padding-left: 125px;
}
.musicText2-3{
  font-size: 1.5em;
  padding-left: 130px;
}
.twogirls{
  margin-top: -90px;
 margin-left: 55px;
}

.darkMode .breath {
  color: white;
}

.darkMode .breathLorem {
  color: white;
}

.musicText1,
.musicText1-2,
.musicText1-3,
.musicText2,
.musicText2-2,
.musicText2-3 {
  color: black;
}
.fifthContainer{
  margin-top: -50px;
  height: 1185px;
  padding-top: 130px;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-image: url("./images_kr/Background3.svg")
}

.qqq{
  display: flex;
  flex-direction: row;
  align-self: center;
  margin-top: 65px;
}
.qqq1{
  display: flex;
  align-items:center;
  flex-direction: column;
}
.girl3{
  height: 500px;
  width: auto;
  margin-bottom: 70px;
  margin-top: 70px;
}
.qq{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.slid{
  display: flex;
  align-items: row;
  margin-left: 50px;
  overflow: hidden;
}
.slName{
  font-size: 2.125em;
  width: 100%;
  font-weight: bold;
  color: black;
}
.slDescr{
  font-size: 1.5em;
  width: 480px;
  line-height: 30px;
  color: black;
}
.slideItem{
  width: 100%;
  padding-top: 30px;
  padding-left: 50px;
  padding-bottom: 38px;
  padding-right: 75px;
  background-image: url("./images_kr/Rectangle9.svg")
}
.sixthContainer{
  display: flex;
  flex-direction: column;
  align-items:center;
  margin-top: 120px;
}
.c1{
display: flex;
flex-direction: row;
justify-content: space-around;
gap: 63px;
width: 90%;
padding-top: 70px;
}
.textGirl1{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  width: 88%;
}
.textGirl2{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  width: 88%;
}
.textGirl1Img{
 width: 704px;
  height: 554px;
}
.textGirl2Img{
 width: 766px;
 height: 533px;
}
.c2{
  display: flex;
flex-direction: row;
justify-content: space-around;
padding-top: 70px;
width: 80%;
}
.c2>div{
  padding-top: 100px;
}
.c1-1{
padding-left: 200px;
width: 50%;
}
.c2{
  display: flex;
  flex-direction: row;
}
.sixthContainer>div{
  display: flex;
  align-items:center;
  flex-direction: column;
}
.transf{
  width: 35%;
  text-align: center;
  font-size: 3.438em;
  font-weight: bold;
  line-height: 70px;
}
.transfLorem{
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  text-align: center;
  width: 60%;
  padding-top: 28px;
  line-height: 30px;
}
.darkMode .slName,
.darkMode .slDescr {
  color: black;
}

.darkMode .slideItem {
  background-image: url("./images_kr/Rectangle9.svg");
}
.namec1{
  width: 100%;
  font-size: 2em;
  font-weight: bold;
  text-align: left;
}
.namec2{
  padding-top: 20px;
}
.descrc1{
  text-align: left;
  font-size: 1.5em;
  padding: 20px 0 0 0px;
  width: 100%;
  line-height: 32px;
}
.descrc2{
padding-top: 10px;
width: 100%;
}
.descrc1-1{
  text-align: left;
  font-size: 1.5em;
  width: 100%;
  line-height: 32px;
}
.descrc2-1{
  width: 100%;
  padding-top: 10px;
}
.learnMoreButton2{
  background-color:rgb(37,147,133);
  color:white;
  box-shadow: none;
  border: none;
  font-size: 1.5em;
  border-radius: 40px;
  padding:13px 43px;
  margin-top: 30px;
}
.c2>div{
  padding-left: 10px;
}
footer{
  margin-top: 150px;
  padding-top: 120px;
  height: 305px;
  display: flex;
  justify-content: center;
  background-image: url("./images_kr/footerbackground.png")
}
.navs{
  display: flex;
  flex-direction: row;
  width: 100%;
  font-size: 1.875em;
  justify-content: space-around;
  padding-top: 40px;
}
.logo2{
  width: 100%;
  display: flex;
  justify-content: center ;
}
.nav1{
  padding: 0 13px 0 13px;
}
.links2{
  display: flex;
  justify-content: space-around;
  padding: 30px 280px 0 280px;
}

/*интернационализация*/



@media screen and (max-width: 1800px){
  .transf{
    width: 40%;
  }
}
@media screen and (max-width: 1620px){
  .Detoxify{
    font-size: 3em;
  }
  .practiceText{
    font-size: 2.5em;
  }
  .practiceLorem{
    
  }
  .detoxLorem{
    
  }
  .textGirl1Img, .textGirl2Img{
    visibility: hidden;
    position: absolute;
  }
  .textGirl1, .textGirl2{
    display: flex;
    justify-content:center;
  }
  .c1-1{
    padding: 0;
  }
  .BackyarkDiv{
    width: 50%;
  }
  .transf{
    width: 47%;
  }
}

@media screen and (max-width: 1280px){
  .linkDiv{
    display: none;
  }
  .menudiv{
    visibility: visible;
  }
  .transf{
    width: 60%;
  }
  .burger {
    visibility: visible;
    display: block;
    position: relative;
    border: none;
    background: transparent;
    width: 40px;
    height: 26px;
  }
  .logo {
    padding-left: 0;
  }
  .head{
    justify-content: space-around;
  }
}
@media screen and (max-width: 1000px){
  .transf{
    width: 75%;
  }
}
@media screen and (max-width: 768px){
  .logo{
    padding: 0 10px 0 0px;
    margin-left: -20px;
  }
  .firstContainer {
    background-position: top; 
    display: flex;
    flex-direction: column;
  }
  .head {
    width: 100%;
    height: 130px;
  }
  .Detoxify{
    width: 80%;
    line-height: 65px;
    padding-top: 80px;
  }
  .detoxLorem{
    width: 93%;
    line-height: 30px;
    padding-top: 40px;
  }
  .getStartButton{
    margin-top: 50px;
  }
  .sittingGirl{
    margin-top: 43px;
  }
  .secondContainer{
    padding-top: 40px;
  }
  .rect2, .rect3{
    margin-top: -10px;
  }
  .thirdContainer{
    margin-top: 90px;
  }
  .practiceText{
    width: 68%;
    line-height: 50px;
  }
  .practiceLorem{
    width: 90%;
    padding-top: 40px;
  }
  .YogaGirlDiv{
    display: none;
    position: absolute;
    width: 1px;
    height: 1px;
  }
  .container3-1{
    padding-top: 33px;
    width: 100%;
  }
  .stressReduction, .selfComparison{
    margin-top: -40px;
    width: 720px;
  }
}
@media screen and (max-width: 320px){

}